body,
html {
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(../images/grey-shapes.jpg);
    opacity: 95%;
}

.profile-image {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    position: relative;
    background-image: url(../images/profile-image.JPG);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 9px 1px 5px 3px rgba(18,18,18,0.15);
    -moz-box-shadow: 9px 1px 5px 3px rgba(18,18,18,0.15);
    box-shadow: 9px 1px 5px 3px rgba(18,18,18,0.15);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-top: -100px;
}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.space-gap {
    margin: 2vh 0;
}

/* Experience Cards */
.experience-card {
    background-color: whitesmoke;
    opacity: 80%;
    padding: 10px;
    width: 80%;
}

.experience-card-result {
    font-weight: bolder;
    color: coral;
}

.experience-card-subheader {
    font-size: 50%;
}

/* Experience Year */
.experience-year-black,
.experience-year-coral {
    text-align: right;
    padding-right: 20px;
}

.experience-year-black {
    color: whitesmoke;
    background-color: #121212e5;
}

.experience-year-coral {
    color: #121212e5;
    background-color: coral;
}

/* Education */
.whitesmoke-header,
.coral-header {
    /* margin: 0 200px; */
    padding: 31px 0;
    text-align:center;
    font-weight: bolder;
    font-size: 3.5rem;
    background-color: #121212e5;
}

.coral-header {
    color: coral;
}

.whitesmoke-header {
    color: whitesmoke;
}